# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
dist
.tmp
.sass-cache
app/components

# Codeigniter Specific
/application/config/*-localhost.php
/tmp/cache/*
/media
/user_guide

# IDE
/nbproject
/nbproject/project.properties
/nbproject/project.xml

# PHP Composer
composer.lock
